nav.fixednav {
	position: fixed;
	width: 100%;
	height: 100px;
	color: #FFF;
	top: 0px;
	left: 0px;
	font-family: 'Bungee Inline', cursive;
	text-align: right;
	padding-right: 10px;
	background-color: #222;
}

nav.fixednav h1:hover {
	color: #FF432E;
}

nav.fixednav > h2 > a {
	text-decoration: none;
	color: #FFF;
}

nav.fixednav > h2 > a:hover {
	text-decoration: none;
	color: #FF432E;
}

body {
	background-color: #FFF5EE;
}


h1 {
	position: relative;
	text-align: center;
}

h2 {
	position: relative;
	text-align: center;
	top: 5px;
}

/* Slideshow container */
.slideshow-container {
	max-width: 500px;
	position: relative;
	margin: auto;
	text-align: left;
	margin-top: 100px;
	float: left;
	margin-left: 20px;
	border-radius: 25px;
}

.slideshow-container img {
	border-radius: 7px;
	background-color: rgba(0,0,0,0);
	overflow: hidden;
}

/* Next & Previous buttons */
.prev, .next {
	cursor: pointer;
	position: absolute;
	top: 50%;
	width: auto;
	margin-top: -22px;
	padding: 16px;
	color: white;
	font-weight: bold;
	font-size: 18px;
	transition: 0.6s ease;
	border-radius: 0 3px 3px 0;
}

/* Postition the "next button" to the right */
.next {
	right: 0;
	border-radius: 3px 0 0 3px;
}

/* Position the "prev button" to the left */
.prev {
	left: 0;
	border-radius: 3px 0 0 3px;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover, .next:hover {
	background-color: rgba(0,0,0,0.8);
}

/* Caption text */
.text {
	color: #f2f2f2;
	font-size: 15px;
	padding: 8px 12px;
	position: absolute;
	bottom: 8px;
	width: 100%;
	text-align: center;
	font-family: 'Slabo 27px', serif;
}

/* Number text (1/4 etc) */
.numbertext {
	color: #f2f2f2;
	font-size: 12px;
	padding: 8px 12px;
	position: absolute;
	top: 0;
}

/* The dots/bullets/indicators */
.dot {
	cursor: pointer;
	height: 13px;
	width: 13px;
	margin: 0 2px;
	margin-top: 475px;
	background-color: #bbb;
	border-radius: 50%;
	display: block;
	position: relative;
	transition: background-color 0.6 ease;
	left: -330px;
	text-align: left;
	float: left;
	margin-left: 20px;
}

.active, .dot:hover {
	background-color: #717171;
}

/* Fading animation */
.fade {
	-webkit-animation-name: fade;
	-webkit-animation-duration: 1.5s;
	animation-name: fade;
	animation-duration: 1.5s;
}

@-webkit-keyframes fade {
	from {opacity: .4}
	to {opacity: 1}
}

@keyframes fade {
	from {opacity: .4}
	to {opacity: 1}
}

div.mainTextBlock {
	width: 40%;
	padding-top: 0px;
	float: right;
	text-align: left;
	top: 100px;
	margin-top: -300px;
	margin-left: 20px;
	margin-right: 20px;
	font-family: 'Slabo 27px', serif;
	font-size: 20px;
}

div.social {
	height: 20px;
	margin-right: auto;
	margin-left: auto;
	margin-top: 40px;
	width: 50%;
	height: 50px;
	text-align: center;
	font-size: 30px;
}

div.social *,
div.social *:before,
div.social *:after {
	text-decoration: none !important;
	color: #000;
	margin-top: 30px;
}

.clearit {
	clear: both;
}